@tailwind base;
@tailwind components;
@tailwind utilities;

/* color styles for the project */
:root {
    --color-dark-blue: 3 60 175;
    --color-blue: 3 100 253;
    --color-sky-blue: 0 180 255;
    --color-red: 253 30 10;
    --color-yellow: 254 220 62;
    --color-white: 255 255 255;
    --color-black: 32 32 32;
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
  }

*,
*::before,
*::after {
  box-sizing: 'border-box';
}

* {
  margin: '0';
}

img {
  max-width: '100%';
  display: 'block';
}

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30px);
  }
  100% {
      transform: translateY(0);
  }
}

.float-image {
  animation: float 3s ease-in-out infinite;
}
